<!DOCTYPE html>
<LINK href="/static/main.css" rel="stylesheet" type="text/css" />
<link href="/static/jsgantt.css" rel="stylesheet" type="text/css" />
<script src="/static/sorttable.js"></script>
<script src="/static/jsgantt.js"></script>

<span class="headlink" onclick="window.location.href='/hotel/rooms/'">HOTELSYSTEM</span>

<div id='topmenu'>
<a href="/hotel/rooms">Room overview</a>
<a href="/hotel/">Reservations</a>
<a href="/hotel/new/">New Reservation</a>
<a href="/hotel/newcust/">New Customer</a>
</div>