{% include "hotel/header.html" %}

{% if room_list %}

<br/>
<table width="100%" class="gant">
<script>
var today = new Date();
var days = new Date(today.getFullYear(), today.getMonth()+1, 0).getDate();
document.write("<b>Current date: " + today + "</b>");

//create calendar
document.write("<tr>");
for(var k = 0; k<=days; k++)
{
    if(k ==0)
    {
        document.write("<td bgcolor='ffcc00'>ROOM</td>");
    }
    else
    {
        var tempDate = new Date(today.getFullYear(), today.getMonth(), k);
        var dateString = tempDate.getDate() + "." + (tempDate.getMonth()+1);
        
        if(k<10)
        {
            dateString = "0" + dateString;
        }
        
        if(tempDate.getDate() == today.getDate())
        {
            dateString = "<b>" + dateString + "</b>";
            document.write("<td bgcolor='FFFFBE'>" + dateString + "</td>");
        }
        else
        {
            if(tempDate.getDay() == 0 || tempDate.getDay() == 6)
            {
                document.write("<td bgcolor='DCF0F7'>" + dateString + "</td>");
            }
            else
            {
                document.write("<td>" + dateString + "</td>");
            }
        }
    }
}
document.write("</tr>");

</script>
{% for room in room_list %}
    <script>
        var dates = new Array();
        var l = 0;
    </script>
    
    {% for res in room.allres %}
        <script>
            dates[l] = '{{res.get_formated_date_from }}';
            l++;
            dates[l] = '{{res.get_formated_date_until }}';
            l++;
        </script>
    {% endfor%}

    <script>
    //create calendar
    document.write("<tr>");
    
    var reservedDay = false;
    
    for(var k = 0; k<=days; k++)
    {
        if(k ==0)
        {
            document.write("<td bgcolor='ffcc00'><a href='/hotel/rooms/{{ room.number }}'>" + '{{ room.number }}' + "</a></td>");
        }
        else 
        {
            var tempDate = new Date(today.getFullYear(), today.getMonth(), k);
            var dateString = tempDate.getDate() + "." + (tempDate.getMonth()+1);
            if(k<10)
            {
                dateString = "0" + dateString;
            }
            
            dateString += "." + today.getFullYear();
            
            
            
            if(dates.indexOf(dateString) > -1 )
            {
                if(dates.indexOf(dateString)%2==0)
                {
                    document.write("<td bgcolor='#336699'></td>");
                    reservedDay = true;
                }
                else
                {
                    document.write("<td bgcolor='#336699'></td>");
                    reservedDay = false;
                }
            }
            
            else if(reservedDay)
            {
                document.write("<td bgcolor='#336699'></td>");
            }
            else
            {
                if(tempDate.getDay() == 0 || tempDate.getDay() == 6)
                {
                    document.write("<td bgcolor='DCF0F7'>&nbsp;</td>");
                }
                else
                {
                    document.write("<td>&nbsp;</td>");
                }
            }
        }
    }
    document.write("</tr>");
    </script>

{% endfor %}
</table>

{% else %}
    <p>No rooms found.</p>
{% endif %}



